h1{
    font-size: 40pt;
    font-weight: bold;
}
body{
    width:960px;
    background-color:antiquewhite;
    
}   
#image_container{
    white-space: nowrap;
    align-content: center;
    width: 960px;
    height:100%;

}
 .row{
    display:inline-block;
    width:320px;
    height: 100%;
}
